.part3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

.part3tcard1 { 
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #773072;
  box-shadow: 0 1px 16px 4px rgba(0, 0, 0, 0.2);
  transition: 
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.part3tcard1:hover { 
  transform: translate(0, -8px);
  box-shadow: 0 1px 16px 4px #773072;
}

.educationimg { 
  display: flex;
  max-width: max-content;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  overflow: hidden;
}

.imgsize {
  width: 100%;
  height: 100%;
}

.educationontent { 
  display: flex;
  /* height: 50%; */
  padding: 16px 16px 0 16px;
  color: aliceblue;
}

.part3tcard2 { 
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  height: 75vh;
  /* color: black; */
  /* color: #773072; */
  /* background-color: #773072; */
  /* 给卡片一个固定高度以便于控制比例 */
}

/* .gradientlayer {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 999px;
  background: red;
  z-index: -1;
} */
@media (max-width: 768px) {
    .part3 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        width: 90%;
        padding: 20px;
        row-gap: 20px;
    }
    .educationontent {
      padding: 0 16px 16px 16px;
    }
    .imgsize {
      width: 90%;
      height: 90%;
    }
}
