.part4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  width: 100%;
  row-gap: 20px;
  column-gap: 20px;
  padding: 64px;
  /* 添加右边距的明确设置 */
  box-sizing: border-box;
}

.part4card1 { 
  width: 234px;
  overflow: hidden;
}

.part4img { 
  transition: transform 0.3s ease;
}

.part4card1:hover .part4img { 
  transform: scale(1.1);
}

@media (max-width: 768px) { 
  .part4card1 { 
    width: 150px;
  }
}